$baseSize: 10px;

// font weights
$thin: 100;
$light: 300;
$regular: 500;
$thick: 700;
$bold: 900;

// typography
$xh1: 8.0rem; // 80px
$mh1: 7.8rem; // 78px
$h1: 7.6rem; // 76px
$sh1: 7.4rem; // 74px
$xh2: 7.2rem; // 72px
$mh2: 7.0rem; // 70px
$h2: 6.8rem; // 68px
$sh2: 6.6rem; // 66px
$xh3: 6.4rem; // 64px
$mh3: 6.2rem; // 62px
$h3: 6.0rem; // 60px
$sh3: 5.8rem; // 58px
$xh4: 5.6rem; // 56px
$mh4: 5.4rem; // 54px
$h4: 5.2rem; // 52px
$sh4: 5.0rem; // 50px
$xh5: 4.8rem; // 48px
$mh5: 4.6rem; // 46px
$h5: 4.4rem; // 44px
$sh5: 4.2rem; // 42px
$xh6: 4.0rem; // 40px
$mh6: 3.8rem; // 38px
$h6: 3.6rem; // 36px
$sh6: 3.4rem; // 34px
$xh7: 3.2rem; // 32px
$mh7: 3.0rem; // 30px
$h7: 2.8rem; // 28px
$sh7: 2.6rem; // 26px
$xh8: 2.4rem; // 24px
$mh8: 2.2rem; // 22px
$h8: 2.0rem; // 20px
$sh8: 1.8rem; // 18px
$xh9: 1.6rem; // 16px
$mh9: 1.4rem; // 14px
$h9: 1.2rem; // 12px
$sh9: 1.0rem; // 10px
$xh10: 0.8rem; // 8px
$mh10: 0.6rem; // 6px
$h10: 0.4rem; // 4px
$sh10: 0.2rem; // 2px

// screen sizes
$ultrawide-width: 1536px;
$wide-width: 1280px;
$large-width: 1024px;
$desktop-width: 992px;
$medium-width: 667px;
$small-width: 480px;
$tiny-width: 360px;

// padding, margin, border, border radius
$xxlarge: 4.0rem; // 40px
$xlarge: 3.7rem; // 37px
$large: 3.4rem; // 34px
$xxmedium: 3.1rem; // 31px
$xmedium: 2.8rem; // 28px
$medium: 2.5rem; // 25px
$small: 2.2rem; // 22px
$xsmall: 1.9rem; // 19px
$xxsmall: 1.6rem; // 16px
$tiny: 1.3rem; // 13px
$xtiny: 1.0rem; // 10px
$xxtiny: 0.7rem; // 7px
$micro: 0.4rem; // 4px
$xmicro: 0.1rem; // 1px

// colors as in colors.ts
$white: #ffffff;
$black: #000000;
$lightGrey: #e1e1e1;
$grey: #9d9d9d;
$red: #9e293c;
$green: #466f5f;
$yellow: #f5e400;
$blue: #409bed;

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;